# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

source/cpp/os_lnd/.vs/os_lnd/v15/.suo

*.db

*.opendb

*.ipch

*.advixeexp

*.advixeproj

source/cpp/os_lnd/os_lnd/My Advisor Results - os_lnd/

*.tlog

*.pdb

*.ilk

*.log

*.txt

*.vcxproj

*.filters

*.user
