# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

source/cpp/os_lnd/.vs/os_lnd/v15/.suo

*.db

*.opendb

*.ipch

*.advixeexp

*.advixeproj

source/cpp/os_lnd/os_lnd/My Advisor Results - os_lnd/

*.tlog

*.pdb

*.ilk

*.log

*.txt

source/cpp/os_lnd/os_lnd/boost_1_71_0/
source/cpp/os_lnd/os_lnd/eigen/
source/cpp/os_lnd/os_lnd/fmt/
source/cpp/os_lnd/os_lnd/gcem/
source/cpp/os_lnd/os_lnd/inih/
source/cpp/os_lnd/os_lnd/odeint/
source/cpp/os_lnd/os_lnd/spdlog/

submit/common/__pycache__/

figures/


*.asv
