[submodule "source/cpp/os_lnd/os_lnd/third_party/filesystem"]
	path = source/cpp/os_lnd/os_lnd/third_party/filesystem
	url = https://github.com/gulrak/filesystem
[submodule "source/cpp/os_lnd/os_lnd/third_party/eigen-git-mirror"]
	path = source/cpp/os_lnd/os_lnd/third_party/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "source/cpp/os_lnd/os_lnd/third_party/odeint-v2"]
	path = source/cpp/os_lnd/os_lnd/third_party/odeint-v2
	url = https://github.com/headmyshoulder/odeint-v2.git
[submodule "source/cpp/os_lnd/os_lnd/third_party/inih"]
	path = source/cpp/os_lnd/os_lnd/third_party/inih
	url = https://github.com/jtilly/inih.git
[submodule "source/cpp/os_lnd/os_lnd/third_party/gcem"]
	path = source/cpp/os_lnd/os_lnd/third_party/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "source/cpp/os_lnd/os_lnd/third_party/fmt"]
	path = source/cpp/os_lnd/os_lnd/third_party/fmt
	url = https://github.com/fmtlib/fmt.git